In [1]:
import numpy as np
import pandas as pd

train_data = pd.read_csv('train/train_all.csv')
test_data = pd.read_csv('test/republish_test.csv')

/usr/local/lib/python2.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,5,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python2.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
train_data[:25]

,service_type,is_mix_service,online_time,1_total_fee,2_total_fee,3_total_fee,4_total_fee,month_traffic,many_over_bill,contract_type,...,local_caller_time,service1_caller_time,service2_caller_time,gender,age,complaint_level,former_complaint_num,former_complaint_fee,current_service,user_id
0,4,0,85,295.96,296.2,296,296.80,3813.614698,0,1,...,108.100000,0.000000,564.366667,1,31,0,0,0.0,99999825,Gx4sJzcQog01UhZL
1,1,0,10,265.20,261.2,208.5,174.50,0.000000,1,0,...,240.100000,355.166667,0.000000,1,30,0,0,0.0,90063345,kEXrhTiug93DIcLG
2,1,0,12,44.50,70.2,69,61.40,2598.397406,0,0,...,27.666667,0.000000,98.416667,2,25,0,0,0.0,90109916,AouXr0EOUtSRdiYK
3,4,0,134,87.95,81.4,76,88.30,988.440563,0,0,...,89.900000,74.483333,121.833333,1,44,0,0,0.0,89950166,Yds7U30hnRZDiLtb
4,4,0,84,317.04,314.08,435.51,413.05,5885.800642,0,1,...,0.000000,35.100000,496.733333,1,31,2,1,0.0,99999825,OFDTSXrhN9Q2mbVw
5,4,0,46,36.00,36,36,37.20,218.003452,0,3,...,14.633333,0.000000,14.633333,1,42,0,0,0.0,89950168,4qHSn3dkPzJTAjoG
6,1,0,12,33.60,32.7,38.7,45.70,0.000000,0,0,...,6.116667,136.033333,0.000000,1,27,0,0,0.0,90063345,tXkjbzpTsZcxYPKG
7,4,0,109,116.00,116,116,116.00,635.946276,0,9,...,250.883333,0.000000,310.733333,1,40,0,0,0.0,89950167,ro43b68MustgPyOR
8,4,0,30,73.95,91.42,66,65.95,230.273015,0,0,...,15.283333,41.900000,82.916667,1,43,1,2,0.0,89950168,18e2VC0IJ7SkcKzF
9,1,0,7,89.00,91,90.6,126.10,0.000000,1,0,...,33.733333,0.000000,101.833333,1,22,0,0,0.0,90155946,YCEo95zSZ08IJ3PW
10,4,0,47,42.00,42,42,42.00,0.000000,0,2,...,1.916667,0.000000,9.200000,0,0,0,0,0.0,89950166,M9aTwUjbqQSYK8hN
11,4,0,51,76.10,156,116,107.30,3048.047233,0,9,...,128.800000,0.000000,144.816667,1,43,0,0,0.0,89950166,cfGAgMWTJLt09VDs
12,4,0,59,123.30,175.2,110.95,178.00,683.888563,0,3,...,169.316667,162.916667,465.683333,2,29,0,0,0.0,99999828,km0xTQGpIYZuXWyL
13,1,0,7,60.30,145.3,78.2,94.70,0.000000,1,0,...,0.000000,1.916667,0.000000,1,27,0,0,0.0,90063345,d9L37fAwopQkWPYh
14,4,0,122,208.90,225.7,157,241.65,1490.740294,0,9,...,461.566667,281.750000,724.900000,1,56,0,0,0.0,99999828,UXewZPdJbBiycY8Q
15,4,0,43,256.00,327.7,316.5,256.10,3882.650403,1,0,...,70.983333,0.000000,98.616667,2,27,2,1,6000.0,99999828,Z5igARInaGBkjYdm
16,1,0,5,7.91,13.7,11.05,15.10,0.000000,1,0,...,0.000000,0.000000,0.000000,1,44,0,0,0.0,90063345,gH7nkfV2a0cKPQT6
17,1,0,4,19.60,21.4,12.42,0.00,0.000000,0,0,...,0.900000,0.900000,0.000000,1,17,0,0,0.0,90063345,wnYh1QfSNBcGMTJ5
18,4,1,65,84.35,98.05,76,76.00,1824.925221,0,9,...,58.600000,47.116667,171.716667,2,30,0,0,0.0,89950166,zPhEjLIWi3dKV6GU
19,1,0,18,48.90,54.5,51.9,66.10,0.000000,1,0,...,0.000000,3.333333,1.566667,1,24,0,0,0.0,90063345,JzrYtgsjF45bBun1
20,4,0,60,225.95,339.25,296.45,354.35,500.000000,0,1,...,86.800000,0.000000,201.616667,1,36,0,0,0.0,99999826,rL402wVDpGPBfC8q
21,1,0,12,107.74,128.96,165.66,360.68,0.000000,1,0,...,4.783333,21.266667,0.000000,1,27,0,0,0.0,90063345,CognwxZ2aJfv03c4
22,1,0,18,89.70,96.4,78.8,69.70,0.000000,1,0,...,48.083333,388.533333,18.533333,1,26,0,0,0.0,90063345,QnU8PiaY63eAVlDr
23,4,0,72,126.10,126.5,126.5,126.85,2785.341695,0,3,...,0.000000,0.000000,255.533333,1,49,0,0,0.0,99999827,xPRY6725k90KdyjW
24,4,0,30,71.00,71,79.64,95.86,14946.728151,0,9,...,7.866667,0.000000,11.100000,1,30,0,0,0.0,89950168,qLyPkjf86sZdEtNg

In [3]:
train_data.current_service.value_counts()

90063345    287219
89950166    133224
89950167     73842
99999828     52939
90109916     38096
89950168     33462
99999827     32531
99999826     29054
90155946     22037
99999830     21236
99999825     20350
Name: current_service, dtype: int64

In [4]:
train_data.describe()

,service_type,is_mix_service,online_time,1_total_fee,4_total_fee,month_traffic,many_over_bill,contract_type,contract_time,is_promise_low_consume,...,pay_num,last_month_traffic,local_trafffic_month,local_caller_time,service1_caller_time,service2_caller_time,complaint_level,former_complaint_num,former_complaint_fee,current_service
count,743990.000000,743990.000000,743990.000000,743990.000000,743990.000000,743990.000000,743990.000000,743990.000000,743990.000000,743990.000000,...,743990.000000,743990.000000,743990.000000,743990.000000,743990.000000,743990.000000,743990.000000,743990.000000,7.439900e+05,7.439900e+05
mean,2.599368,0.041987,42.163250,105.316648,110.909542,1280.314131,0.471436,1.733792,7.769703,0.069266,...,124.645043,361.884730,6374.492367,63.181143,44.942956,96.227216,0.115961,0.134366,4.117919e+06,9.211684e+07
std,1.496706,0.200560,45.526346,90.661524,102.790653,2865.051949,0.499184,3.145238,10.348774,0.253906,...,222.082875,821.310454,11871.581287,121.448525,113.855830,144.503062,0.375613,0.473779,2.539640e+09,4.062611e+06
min,1.000000,0.000000,1.000000,0.000000,-420.270000,0.000000,0.000000,0.000000,-1.000000,0.000000,...,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,8.995017e+07
25%,1.000000,0.000000,10.000000,52.200000,51.600000,0.000000,0.000000,0.000000,0.000000,0.000000,...,50.000000,0.000000,136.277616,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,8.995017e+07
50%,4.000000,0.000000,17.000000,76.000000,78.400000,300.000000,0.000000,0.000000,0.000000,0.000000,...,90.000000,0.000000,1455.823977,15.016667,0.000000,39.058333,0.000000,0.000000,0.000000e+00,9.006334e+07
75%,4.000000,0.000000,65.000000,127.450000,137.000000,1535.362151,1.000000,3.000000,12.000000,0.000000,...,150.000000,493.497146,5919.948412,74.483333,38.850000,145.650000,0.000000,0.000000,0.000000e+00,9.010992e+07
max,4.000000,1.000000,274.000000,5940.830000,5141.270000,159057.397800,1.000000,12.000000,52.000000,1.000000,...,58800.300000,17408.000000,484365.746313,6461.050000,5139.483333,16454.383333,3.000000,22.000000,1.762166e+12,9.999983e+07

In [5]:
test_data.describe()

,service_type,is_mix_service,online_time,1_total_fee,4_total_fee,month_traffic,many_over_bill,contract_type,contract_time,is_promise_low_consume,...,last_month_traffic,local_trafffic_month,local_caller_time,service1_caller_time,service2_caller_time,gender,age,complaint_level,former_complaint_num,former_complaint_fee
count,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,...,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000
mean,2.007635,0.076200,30.878480,85.655853,88.896016,849.698772,0.623640,1.038890,5.676175,0.040680,...,236.223765,8711.345547,63.646777,43.736095,71.070106,1.285310,29.884035,0.114430,0.107995,232.801450
std,1.416826,0.265319,34.261823,67.284647,82.338231,2486.963633,0.484473,2.734195,10.301602,0.197548,...,617.072229,14285.905138,137.684230,97.738863,152.467552,0.469105,10.778146,0.408982,0.419086,3117.832292
min,1.000000,0.000000,4.000000,0.000000,-9.200000,0.000000,0.000000,0.000000,-1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,9.000000,49.400000,46.100000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,21.637832,0.000000,0.000000,0.000000,1.000000,22.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,15.000000,68.600000,66.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,2103.217151,14.716667,2.166667,2.700000,1.000000,28.000000,0.000000,0.000000,0.000000
75%,4.000000,0.000000,47.000000,99.200000,106.000000,796.099187,1.000000,1.000000,12.000000,0.000000,...,0.000000,10976.044869,74.850000,47.083333,90.233333,2.000000,35.000000,0.000000,0.000000,0.000000
max,4.000000,1.000000,272.000000,2481.600000,2352.350000,238395.390250,1.000000,12.000000,52.000000,1.000000,...,12286.330195,386005.659265,11509.266667,3746.116667,11432.366667,2.000000,103.000000,3.000000,20.000000,410935.000000

In [6]:
train_data.current_service = train_data.current_service.replace(90063345, 1)
train_data.current_service = train_data.current_service.replace(90109916, 2)
train_data.current_service = train_data.current_service.replace(90155946, 3)
train_data.current_service = train_data.current_service.replace(89950166, 4)
train_data.current_service = train_data.current_service.replace(89950167, 5)
train_data.current_service = train_data.current_service.replace(99999828, 6)
train_data.current_service = train_data.current_service.replace(89950168, 7)
train_data.current_service = train_data.current_service.replace(99999827, 8)
train_data.current_service = train_data.current_service.replace(99999826, 9)
train_data.current_service = train_data.current_service.replace(99999830, 10)
train_data.current_service = train_data.current_service.replace(99999825, 11)

In [7]:
print test_data.service_type.value_counts()
for i in range(1,5):
    print test_data[train_data.service_type == i].current_service.value_counts()

1    132818
4     67163
3        19
Name: service_type, dtype: int64

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

AttributeError: 'DataFrame' object has no attribute 'current_service'

In [8]:
print train_data.service_type.value_counts()
for i in range(1,5):
    print train_data[train_data.service_type == i].current_service.value_counts()

4    396638
1    347352
Name: service_type, dtype: int64
1    287219
2     38096
3     22037
Name: current_service, dtype: int64
Series([], Name: current_service, dtype: int64)
Series([], Name: current_service, dtype: int64)
4     133224
5      73842
6      52939
7      33462
8      32531
9      29054
10     21236
11     20350
Name: current_service, dtype: int64

In [9]:
print train_data.is_mix_service.value_counts()
for i in range(0,2):
    print train_data[train_data.is_mix_service == i].current_service.value_counts()

0    712752
1     31238
Name: is_mix_service, dtype: int64
1     287138
4     124388
5      65951
6      48074
2      38063
7      33361
8      28620
9      25908
3      22017
10     21230
11     18002
Name: current_service, dtype: int64
4     8836
5     7891
6     4865
8     3911
9     3146
11    2348
7      101
1       81
2       33
3       20
10       6
Name: current_service, dtype: int64

In [10]:
print train_data.many_over_bill.value_counts()
for i in range(0,2):
    print train_data[train_data.many_over_bill == i].current_service.value_counts()

0    393246
1    350744
Name: many_over_bill, dtype: int64
4     116634
5      63478
6      44638
2      30921
7      30893
8      27544
9      25124
11     18217
1      17813
10     16728
3       1256
Name: current_service, dtype: int64
1     269406
3      20781
4      16590
5      10364
6       8301
2       7175
8       4987
10      4508
9       3930
7       2569
11      2133
Name: current_service, dtype: int64

In [11]:
print train_data.contract_type.value_counts()
for i in range(0,13):
    print train_data[train_data.contract_type == i].current_service.value_counts()

0     425806
1     127830
3     101240
9      54837
12     26455
7       4141
6       2734
2        931
8         16
Name: contract_type, dtype: int64
1     287212
2      38093
4      25008
3      22036
10     12293
7      10665
6       8914
5       7813
8       6081
9       4760
11      2931
Name: current_service, dtype: int64
5     36684
6     21022
4     18518
9     15168
11    15086
8     13408
10     6425
7      1519
Name: current_service, dtype: int64
9     222
6     213
5     168
8     115
4     110
7      54
11     49
Name: current_service, dtype: int64
4     49240
7     16012
5     12481
6     11604
8      6794
9      3372
10      965
11      766
1         5
2         1
Name: current_service, dtype: int64
Series([], Name: current_service, dtype: int64)
Series([], Name: current_service, dtype: int64)
4     1272
7      514
6      500
5      180
8      173
9       70
10      17
11       8
Name: current_service, dtype: int64
4     2154
7      643
5      482
6      473
8      173
9      156
10      32
11      28
Name: current_service, dtype: int64
7    12
4     3
6     1
Name: current_service, dtype: int64
4     27418
5      9324
6      8058
8      3884
7      3399
9      2353
11      271
10      125
2         2
1         2
3         1
Name: current_service, dtype: int64
Series([], Name: current_service, dtype: int64)
Series([], Name: current_service, dtype: int64)
4     9501
5     6710
9     2953
6     2154
8     1903
10    1379
11    1211
7      644
Name: current_service, dtype: int64

In [12]:
print train_data.is_promise_low_consume.value_counts()
for i in range(0,2):
    print train_data[train_data.is_promise_low_consume == i].current_service.value_counts()

0    692457
1     51533
Name: is_promise_low_consume, dtype: int64
1     287197
4     117087
5      63141
6      44067
2      38083
7      30922
8      27617
9      25330
3      22037
10     18645
11     18331
Name: current_service, dtype: int64
4     16137
5     10701
6      8872
8      4914
9      3724
10     2591
7      2540
11     2019
1        22
2        13
Name: current_service, dtype: int64

In [13]:
print train_data.gender.value_counts()
for i in range(0,2):
    print train_data[train_data.gender == i].current_service.value_counts()

1     460291
2     197236
1      41013
0      20927
2      17220
01      3671
0       1830
02      1647
00       153
\N         2
Name: gender, dtype: int64
6     5390
4     3323
5     2794
9     2766
11    2303
8     2154
7     1268
10     909
1       17
3        2
2        1
Name: current_service, dtype: int64
1     192633
4      74949
5      43701
6      31060
2      24993
8      19115
7      17010
3      16695
9      16527
11     11925
10     11683
Name: current_service, dtype: int64

In [4]:
train_data.loc[train_data.current_service == 90063345].describe()

,service_type,is_mix_service,online_time,1_total_fee,4_total_fee,month_traffic,many_over_bill,contract_type,contract_time,is_promise_low_consume,...,pay_num,last_month_traffic,local_trafffic_month,local_caller_time,service1_caller_time,service2_caller_time,complaint_level,former_complaint_num,former_complaint_fee,current_service
count,287219.0,287219.000000,287219.000000,287219.000000,287219.000000,287219.000000,287219.000000,287219.000000,287219.000000,287219.000000,...,287219.000000,287219.000000,287219.000000,287219.000000,287219.000000,287219.000000,287219.000000,287219.000000,2.872190e+05,287219.0
mean,1.0,0.000282,10.365310,56.066720,55.008001,84.803677,0.937981,0.000115,0.000181,0.000077,...,62.040402,2.174941,12474.997186,19.772462,50.504699,9.355695,0.045091,0.051462,6.135326e+06,90063345.0
std,0.0,0.016791,6.752563,25.157014,33.324025,602.571316,0.241190,0.026846,0.039406,0.008752,...,40.988806,73.909940,15761.944839,57.084906,91.158663,70.059515,0.239762,0.296244,3.288064e+09,0.0
min,1.0,0.000000,2.000000,0.000000,-1.800000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,90063345.0
25%,1.0,0.000000,7.000000,41.700000,34.300000,0.000000,1.000000,0.000000,0.000000,0.000000,...,30.000000,0.000000,68.966560,0.000000,0.300000,0.000000,0.000000,0.000000,0.000000e+00,90063345.0
50%,1.0,0.000000,10.000000,52.700000,52.100000,0.000000,1.000000,0.000000,0.000000,0.000000,...,50.000000,0.000000,6337.267279,1.516667,14.433333,0.000000,0.000000,0.000000,0.000000e+00,90063345.0
75%,1.0,0.000000,13.000000,67.500000,68.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,80.000000,0.000000,19453.124729,16.533333,63.033333,0.000000,0.000000,0.000000,0.000000e+00,90063345.0
max,1.0,1.000000,235.000000,582.390000,773.360000,120345.596800,1.000000,9.000000,12.000000,1.000000,...,3306.000000,9216.000000,484365.746313,4922.983333,3722.283333,16454.383333,3.000000,15.000000,1.762166e+12,90063345.0

In [5]:
train_data.loc[train_data.current_service == 90109916].describe()

,service_type,is_mix_service,online_time,1_total_fee,4_total_fee,month_traffic,many_over_bill,contract_type,contract_time,is_promise_low_consume,...,pay_num,last_month_traffic,local_trafffic_month,local_caller_time,service1_caller_time,service2_caller_time,complaint_level,former_complaint_num,former_complaint_fee,current_service
count,38096.0,38096.000000,38096.000000,38096.000000,38096.000000,38096.000000,38096.000000,38096.000000,38096.000000,38096.000000,...,38096.000000,38096.000000,38096.000000,38096.000000,38096.000000,38096.000000,38096.000000,38096.000000,38096.000000,38096.0
mean,1.0,0.000866,13.486455,49.498514,56.292003,3093.696489,0.188340,0.000551,0.000630,0.000341,...,62.846410,918.981884,2821.405268,37.386463,30.767200,77.036990,0.090587,0.096178,83.846073,90109916.0
std,0.0,0.029419,11.704384,25.305064,41.978883,2575.076224,0.390989,0.066996,0.075297,0.018470,...,48.339389,914.623305,4180.366169,78.446671,90.286236,121.706879,0.342561,0.394529,1126.058107,0.0
min,1.0,0.000000,4.000000,0.000000,-0.080000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,90109916.0
25%,1.0,0.000000,9.000000,36.000000,36.200000,1675.391061,0.000000,0.000000,0.000000,0.000000,...,30.000000,0.000000,349.611338,0.000000,0.000000,18.395833,0.000000,0.000000,0.000000,90109916.0
50%,1.0,0.000000,12.000000,39.000000,44.900000,2692.980958,0.000000,0.000000,0.000000,0.000000,...,50.000000,652.226820,2106.176513,10.316667,0.000000,58.333333,0.000000,0.000000,0.000000,90109916.0
75%,1.0,0.000000,15.000000,56.400000,65.900000,3911.443793,0.000000,0.000000,0.000000,0.000000,...,100.000000,2048.000000,3594.035476,42.383333,4.220833,94.058333,0.000000,0.000000,0.000000,90109916.0
max,1.0,1.000000,250.000000,676.600000,1230.600000,100982.629819,1.000000,9.000000,12.000000,1.000000,...,1139.600000,10240.000000,130527.665183,2959.183333,3106.500000,5670.683333,3.000000,22.000000,73669.000000,90109916.0

In [6]:
train_data.loc[train_data.current_service == 90155946].describe()

,service_type,is_mix_service,online_time,1_total_fee,4_total_fee,month_traffic,many_over_bill,contract_type,contract_time,is_promise_low_consume,...,pay_num,last_month_traffic,local_trafffic_month,local_caller_time,service1_caller_time,service2_caller_time,complaint_level,former_complaint_num,former_complaint_fee,current_service
count,22037.0,22037.000000,22037.000000,22037.000000,22037.000000,22037.000000,22037.000000,22037.000000,22037.000000,22037.0,...,22037.000000,22037.000000,22037.000000,22037.000000,22037.000000,22037.000000,22037.000000,22037.000000,22037.000000,22037.0
mean,1.0,0.000908,11.073967,93.024918,96.500001,115.375528,0.943005,0.000408,0.000272,0.0,...,99.252561,4.976110,12196.188868,65.907154,13.509539,161.500832,0.074602,0.082498,72.577846,90155946.0
std,0.0,0.030113,9.873674,27.385611,41.332537,894.548689,0.231838,0.060627,0.040418,0.0,...,54.549206,129.409762,16055.657434,120.488536,93.654992,177.387361,0.303169,0.347568,1424.900789,0.0
min,1.0,0.000000,4.000000,0.000000,-0.090000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,90155946.0
25%,1.0,0.000000,7.000000,80.200000,82.500000,0.000000,1.000000,0.000000,0.000000,0.0,...,70.000000,0.000000,274.728763,0.000000,0.000000,29.366667,0.000000,0.000000,0.000000,90155946.0
50%,1.0,0.000000,10.000000,88.700000,91.400000,0.000000,1.000000,0.000000,0.000000,0.0,...,100.000000,0.000000,6071.400617,17.533333,0.000000,103.233333,0.000000,0.000000,0.000000,90155946.0
75%,1.0,0.000000,12.000000,98.300000,108.400000,0.000000,1.000000,0.000000,0.000000,0.0,...,104.000000,0.000000,18187.935279,83.066667,0.000000,244.133333,0.000000,0.000000,0.000000,90155946.0
max,1.0,1.000000,189.000000,636.500000,675.580000,90791.925118,1.000000,9.000000,6.000000,0.0,...,3040.000000,8192.000000,249645.056255,3890.233333,5139.483333,2872.316667,3.000000,6.000000,110078.000000,90155946.0

In [8]:
train_data.loc[train_data.current_service == 89950166].describe()

,service_type,is_mix_service,online_time,1_total_fee,4_total_fee,month_traffic,many_over_bill,contract_type,contract_time,is_promise_low_consume,...,pay_num,last_month_traffic,local_trafffic_month,local_caller_time,service1_caller_time,service2_caller_time,complaint_level,former_complaint_num,former_complaint_fee,current_service
count,133224.0,133224.000000,133224.000000,133224.000000,133224.000000,133224.000000,133224.000000,133224.000000,133224.000000,133224.000000,...,133224.000000,133224.000000,133224.000000,133224.000000,133224.000000,133224.000000,133224.000000,133224.000000,1.332240e+05,133224.0
mean,4.0,0.066324,67.674233,97.434988,103.634584,1701.711557,0.124527,4.128130,12.013946,0.121127,...,120.947452,449.524903,1533.070507,63.952437,35.756558,101.866921,0.147173,0.171763,9.768076e+06,89950166.0
std,0.0,0.248849,48.390461,55.687431,66.048604,3329.134965,0.330183,3.808463,7.856421,0.326276,...,134.255579,659.058772,3942.902946,94.346443,104.000574,74.420824,0.413269,0.527773,3.565177e+09,0.0
min,4.0,0.000000,2.000000,0.000000,-28.200000,0.000000,0.000000,0.000000,-1.000000,0.000000,...,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,89950166.0
25%,4.0,0.000000,33.000000,72.000000,66.900000,513.139058,0.000000,1.000000,12.000000,0.000000,...,50.000000,0.000000,91.960634,3.950000,0.000000,42.100000,0.000000,0.000000,0.000000e+00,89950166.0
50%,4.0,0.000000,58.000000,79.450000,81.400000,993.489584,0.000000,3.000000,12.000000,0.000000,...,100.000000,348.565076,719.428318,32.583333,0.000000,101.866667,0.000000,0.000000,0.000000e+00,89950166.0
75%,4.0,0.000000,88.000000,106.530000,118.912500,1824.011890,0.000000,9.000000,12.000000,0.000000,...,150.030000,800.000000,1520.929546,88.116667,15.916667,151.533333,0.000000,0.000000,0.000000e+00,89950166.0
max,4.0,1.000000,274.000000,1745.100000,2294.620000,159057.397800,1.000000,12.000000,36.000000,1.000000,...,18639.400000,15136.000000,106426.911100,3964.250000,3875.033333,3931.200000,3.000000,19.000000,1.301285e+12,89950166.0

In [9]:
train_data.loc[train_data.current_service == 89950167].describe()

,service_type,is_mix_service,online_time,1_total_fee,4_total_fee,month_traffic,many_over_bill,contract_type,contract_time,is_promise_low_consume,...,pay_num,last_month_traffic,local_trafffic_month,local_caller_time,service1_caller_time,service2_caller_time,complaint_level,former_complaint_num,former_complaint_fee,current_service
count,73842.0,73842.000000,73842.000000,73842.000000,73842.000000,73842.000000,73842.000000,73842.000000,73842.000000,73842.000000,...,73842.000000,73842.000000,73842.000000,73842.000000,73842.000000,73842.000000,73842.000000,73842.000000,73842.000000,73842.0
mean,4.0,0.106863,68.607852,138.373387,149.435433,1963.255674,0.140354,3.295591,17.169957,0.144918,...,163.855685,458.693051,2003.157501,90.899435,42.353248,139.617799,0.170702,0.198789,508.391105,89950167.0
std,0.0,0.308941,47.766860,70.447411,81.745807,3540.541772,0.347356,3.858375,8.535788,0.352020,...,186.048948,667.521874,4637.020027,128.709257,123.768390,105.113157,0.446108,0.566903,4441.366441,0.0
min,4.0,0.000000,4.000000,0.000000,-65.350000,0.000000,0.000000,0.000000,-1.000000,0.000000,...,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,89950167.0
25%,4.0,0.000000,31.000000,106.000000,106.000000,373.291665,0.000000,1.000000,12.000000,0.000000,...,100.000000,0.000000,193.374925,8.066667,0.000000,54.566667,0.000000,0.000000,0.000000,89950167.0
50%,4.0,0.000000,62.000000,115.670000,122.930000,1154.338256,0.000000,1.000000,24.000000,0.000000,...,111.400000,89.115558,955.373906,50.100000,0.000000,136.583333,0.000000,0.000000,0.000000,89950167.0
75%,4.0,0.000000,89.000000,155.167500,169.800000,2181.043049,0.000000,3.000000,24.000000,0.000000,...,200.000000,1024.000000,1993.971026,127.962500,9.616667,217.695833,0.000000,0.000000,0.000000,89950167.0
max,4.0,1.000000,274.000000,5940.830000,5141.270000,106970.287420,1.000000,12.000000,36.000000,1.000000,...,19404.600000,17408.000000,162044.316246,6461.050000,2958.800000,6509.850000,3.000000,17.000000,627652.000000,89950167.0

In [10]:
train_data.loc[train_data.current_service == 99999828].describe()

,service_type,is_mix_service,online_time,1_total_fee,4_total_fee,month_traffic,many_over_bill,contract_type,contract_time,is_promise_low_consume,...,pay_num,last_month_traffic,local_trafffic_month,local_caller_time,service1_caller_time,service2_caller_time,complaint_level,former_complaint_num,former_complaint_fee,current_service
count,52939.0,52939.000000,52939.000000,52939.000000,52939.000000,52939.000000,52939.000000,52939.000000,52939.000000,52939.000000,...,52939.000000,52939.000000,52939.000000,52939.000000,52939.000000,52939.000000,52939.000000,52939.000000,52939.000000,52939.0
mean,4.0,0.091898,76.025331,170.073363,184.070930,2081.903662,0.156803,3.040273,14.956252,0.167589,...,208.019273,492.767054,1971.500257,147.366269,54.512360,244.999071,0.181360,0.213434,535.295510,99999828.0
std,0.0,0.288885,46.054377,86.102167,99.031814,3473.748732,0.363618,3.479989,9.751596,0.373505,...,233.195310,834.254823,4289.702646,185.872471,156.295803,167.088691,0.457159,0.597377,4109.648245,0.0
min,4.0,0.000000,4.000000,0.000000,-420.270000,0.000000,0.000000,0.000000,-1.000000,0.000000,...,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,99999828.0
25%,4.0,0.000000,45.000000,135.950000,136.000000,482.123149,0.000000,1.000000,12.000000,0.000000,...,100.000000,0.000000,135.969004,11.433333,0.000000,105.491667,0.000000,0.000000,0.000000,99999828.0
50%,4.0,0.000000,68.000000,144.300000,155.050000,1262.422936,0.000000,1.000000,12.000000,0.000000,...,196.000000,65.752975,951.234615,86.966667,0.000000,239.900000,0.000000,0.000000,0.000000,99999828.0
75%,4.0,0.000000,92.000000,196.000000,211.000000,2410.383833,0.000000,3.000000,24.000000,0.000000,...,300.000000,1024.000000,2086.920308,216.225000,9.816667,370.600000,0.000000,0.000000,0.000000,99999828.0
max,4.0,1.000000,274.000000,2838.660000,2809.660000,89903.665930,1.000000,12.000000,36.000000,1.000000,...,17383.800000,15360.000000,114890.578061,3531.083333,3088.566667,3619.683333,3.000000,19.000000,250000.000000,99999828.0

In [11]:
train_data.loc[train_data.current_service == 89950168].describe()

,service_type,is_mix_service,online_time,1_total_fee,4_total_fee,month_traffic,many_over_bill,contract_type,contract_time,is_promise_low_consume,...,pay_num,last_month_traffic,local_trafffic_month,local_caller_time,service1_caller_time,service2_caller_time,complaint_level,former_complaint_num,former_complaint_fee,current_service
count,33462.0,33462.000000,33462.000000,33462.000000,33462.000000,33462.000000,33462.000000,33462.000000,33462.000000,33462.000000,...,33462.000000,33462.000000,33462.000000,33462.000000,33462.000000,33462.000000,33462.000000,33462.000000,33462.000000,33462.0
mean,4.0,0.003018,63.136334,71.745083,75.473471,913.764870,0.076774,2.858855,8.771024,0.075907,...,88.024125,348.297808,811.234360,41.075203,37.936182,50.289821,0.153368,0.178710,848.412617,89950168.0
std,0.0,0.054857,57.477900,61.159336,69.864731,2208.385378,0.266236,2.949980,6.582082,0.264853,...,105.931589,502.595063,2669.750000,72.308474,96.270198,39.686047,0.427630,0.547586,5500.708689,0.0
min,4.0,0.000000,1.000000,0.000000,-17.700000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,89950168.0
25%,4.0,0.000000,15.000000,38.250000,36.600000,128.569294,0.000000,0.000000,0.000000,0.000000,...,30.000000,0.000000,4.204238,0.800000,0.000000,17.116667,0.000000,0.000000,0.000000,89950168.0
50%,4.0,0.000000,45.000000,56.100000,56.000000,488.026284,0.000000,3.000000,12.000000,0.000000,...,51.000000,447.488647,295.550087,16.525000,0.000000,54.100000,0.000000,0.000000,0.000000,89950168.0
75%,4.0,0.000000,93.000000,76.000000,79.950000,932.407516,0.000000,3.000000,12.000000,0.000000,...,100.000000,500.000000,717.166318,53.029167,34.333333,75.200000,0.000000,0.000000,0.000000,89950168.0
max,4.0,1.000000,274.000000,1360.600000,1437.340000,98001.943718,1.000000,12.000000,36.000000,1.000000,...,2399.050000,11840.641600,104181.639310,2188.533333,2648.416667,998.900000,3.000000,12.000000,177056.000000,89950168.0

In [12]:
train_data.loc[train_data.current_service == 99999827].describe()

,service_type,is_mix_service,online_time,1_total_fee,4_total_fee,month_traffic,many_over_bill,contract_type,contract_time,is_promise_low_consume,...,pay_num,last_month_traffic,local_trafffic_month,local_caller_time,service1_caller_time,service2_caller_time,complaint_level,former_complaint_num,former_complaint_fee,current_service
count,32531.0,32531.000000,32531.000000,32531.000000,32531.000000,32531.000000,32531.000000,32531.000000,32531.000000,32531.000000,...,32531.000000,32531.000000,32531.000000,32531.000000,32531.000000,32531.000000,32531.000000,32531.000000,32531.000000,32531.0
mean,4.0,0.120224,72.374935,212.595623,227.191278,2966.567606,0.153300,2.891427,15.927239,0.151056,...,257.758594,839.618194,2959.520154,143.396272,55.883909,230.724700,0.211152,0.245919,652.393317,99999827.0
std,0.0,0.325228,41.417180,100.779949,117.890969,3963.655177,0.360282,3.534488,10.140153,0.358109,...,487.181160,1236.574504,5070.044892,176.290833,161.266826,162.254791,0.487930,0.621686,5035.934034,0.0
min,4.0,0.000000,4.000000,0.000000,-5.850000,0.000000,0.000000,0.000000,-1.000000,0.000000,...,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,99999827.0
25%,4.0,0.000000,45.000000,166.000000,166.100000,945.600257,0.000000,1.000000,12.000000,0.000000,...,100.000000,0.000000,717.982239,20.291667,0.000000,90.308333,0.000000,0.000000,0.000000,99999827.0
50%,4.0,0.000000,69.000000,180.350000,191.480000,2259.928430,0.000000,1.000000,12.000000,0.000000,...,200.000000,43.219254,1903.393208,86.016667,0.000000,217.916667,0.000000,0.000000,0.000000,99999827.0
75%,4.0,0.000000,88.000000,236.000000,255.300000,3682.148487,0.000000,3.000000,24.000000,0.000000,...,300.040000,1996.835931,3329.997440,201.400000,9.300000,361.066667,0.000000,0.000000,0.000000,99999827.0
max,4.0,1.000000,274.000000,2506.100000,4469.100000,96584.222182,1.000000,12.000000,36.000000,1.000000,...,55395.030000,13312.000000,105668.849500,1936.516667,4233.766667,1508.183333,3.000000,13.000000,274164.000000,99999827.0

In [13]:
train_data.loc[train_data.current_service == 99999826].describe()

,service_type,is_mix_service,online_time,1_total_fee,4_total_fee,month_traffic,many_over_bill,contract_type,contract_time,is_promise_low_consume,...,pay_num,last_month_traffic,local_trafffic_month,local_caller_time,service1_caller_time,service2_caller_time,complaint_level,former_complaint_num,former_complaint_fee,current_service
count,29054.0,29054.000000,29054.000000,29054.000000,29054.000000,29054.000000,29054.000000,29054.000000,29054.000000,29054.000000,...,29054.000000,29054.000000,29054.000000,29054.000000,29054.000000,29054.000000,29054.000000,29054.000000,29054.000000,29054.0
mean,4.0,0.108281,70.082846,249.325789,265.450868,3538.421357,0.135265,2.886109,19.616094,0.128175,...,289.422910,1267.846896,3618.738586,137.982530,57.397009,224.951487,0.230777,0.270118,743.338989,99999826.0
std,0.0,0.310740,39.022442,124.443021,140.416746,4352.079966,0.342013,3.848865,11.759610,0.334290,...,411.510892,1650.351646,5313.350022,173.541236,162.553137,161.134153,0.505559,0.637953,5363.088967,0.0
min,4.0,0.000000,4.000000,0.000000,-0.090000,0.000000,0.000000,0.000000,-1.000000,0.000000,...,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,99999826.0
25%,4.0,0.000000,47.000000,196.000000,196.100000,756.691025,0.000000,1.000000,12.000000,0.000000,...,100.050000,0.000000,930.483486,19.083333,0.000000,85.941667,0.000000,0.000000,0.000000,99999826.0
50%,4.0,0.000000,68.000000,211.100000,222.400000,2920.587191,0.000000,1.000000,24.000000,0.000000,...,200.080000,166.402000,2480.407212,80.516667,0.000000,207.375000,0.000000,0.000000,0.000000,99999826.0
75%,4.0,0.000000,86.000000,275.000000,297.300000,4582.916918,0.000000,3.000000,24.000000,0.000000,...,368.340000,3072.000000,4248.915358,191.495833,14.129167,358.466667,0.000000,0.000000,0.000000,99999826.0
max,4.0,1.000000,274.000000,3046.000000,4049.160000,90158.027070,1.000000,12.000000,36.000000,1.000000,...,43842.700000,15872.000000,98989.890446,2849.516667,3769.916667,2599.933333,3.000000,9.000000,224000.000000,99999826.0

In [14]:
train_data.loc[train_data.current_service == 99999830].describe()

,service_type,is_mix_service,online_time,1_total_fee,4_total_fee,month_traffic,many_over_bill,contract_type,contract_time,is_promise_low_consume,...,pay_num,last_month_traffic,local_trafffic_month,local_caller_time,service1_caller_time,service2_caller_time,complaint_level,former_complaint_num,former_complaint_fee,current_service
count,21236.0,21236.000000,21236.000000,21236.000000,21236.000000,21236.000000,21236.000000,21236.000000,21236.000000,21236.000000,...,21236.000000,21236.000000,21236.000000,21236.000000,21236.000000,21236.000000,21236.000000,21236.000000,21236.000000,21236.0
mean,4.0,0.000283,71.316962,120.653684,130.342202,1286.873795,0.212281,1.286448,13.000848,0.122010,...,146.872172,321.362092,1106.071628,57.804501,44.079081,90.633944,0.091354,0.103456,324.867725,99999830.0
std,0.0,0.016807,43.469248,76.146876,86.351022,2621.943515,0.408932,2.997892,16.220612,0.327305,...,140.943442,739.792427,3379.565184,96.276785,120.820660,60.604747,0.344541,0.426997,3769.618018,0.0
min,4.0,0.000000,24.000000,0.000000,-0.080000,0.000000,0.000000,0.000000,-1.000000,0.000000,...,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,99999830.0
25%,4.0,0.000000,36.000000,76.047500,76.900000,236.368793,0.000000,0.000000,0.000000,0.000000,...,87.100000,0.000000,0.082626,0.216667,0.000000,33.512500,0.000000,0.000000,0.000000,99999830.0
50%,4.0,0.000000,60.000000,92.000000,100.600000,616.417792,0.000000,0.000000,0.000000,0.000000,...,100.000000,167.795404,345.090570,23.275000,0.000000,94.183333,0.000000,0.000000,0.000000,99999830.0
75%,4.0,0.000000,91.000000,140.000000,149.687500,1395.495548,0.000000,1.000000,36.000000,0.000000,...,200.000000,400.000000,1009.016337,76.512500,24.504167,145.587500,0.000000,0.000000,0.000000,99999830.0
max,4.0,1.000000,274.000000,1464.400000,1795.000000,84867.045440,1.000000,12.000000,36.000000,1.000000,...,5720.050000,16384.000000,105064.545695,2485.650000,2689.983333,542.683333,3.000000,10.000000,381244.000000,99999830.0

In [15]:
train_data.loc[train_data.current_service == 99999825].describe()

,service_type,is_mix_service,online_time,1_total_fee,4_total_fee,month_traffic,many_over_bill,contract_type,contract_time,is_promise_low_consume,...,pay_num,last_month_traffic,local_trafffic_month,local_caller_time,service1_caller_time,service2_caller_time,complaint_level,former_complaint_num,former_complaint_fee,current_service
count,20350.0,20350.000000,20350.000000,20350.000000,20350.000000,20350.000000,20350.000000,20350.000000,20350.000000,20350.000000,...,20350.000000,20350.000000,20350.000000,20350.000000,20350.000000,20350.000000,20350.000000,20350.000000,20350.000000,20350.0
mean,4.0,0.115381,74.184570,343.521604,366.722885,3374.697330,0.104816,1.705012,22.736265,0.099214,...,405.440376,1524.373520,3669.457220,203.491848,48.816591,388.768057,0.283489,0.335037,834.223440,99999825.0
std,0.0,0.319489,38.442225,138.065129,166.703640,4019.952947,0.306323,2.812923,11.303787,0.298956,...,700.632203,1961.143485,5102.661141,242.775693,170.208838,282.296631,0.554005,0.715302,6195.724979,0.0
min,4.0,0.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,...,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,99999825.0
25%,4.0,0.000000,54.000000,296.000000,296.100000,89.514869,0.000000,1.000000,24.000000,0.000000,...,173.000000,0.000000,1109.297554,36.116667,0.000000,144.837500,0.000000,0.000000,0.000000,99999825.0
50%,4.0,0.000000,74.000000,303.830000,314.100000,2779.977639,0.000000,1.000000,24.000000,0.000000,...,300.000000,0.000000,2667.078412,125.141667,0.000000,337.150000,0.000000,0.000000,0.000000,99999825.0
75%,4.0,0.000000,88.000000,365.000000,396.000000,5011.479141,0.000000,1.000000,30.000000,0.000000,...,500.000000,4073.141737,4471.750525,284.608333,2.033333,611.466667,0.000000,0.000000,0.000000,99999825.0
max,4.0,1.000000,274.000000,3857.690000,4823.910000,68364.325227,1.000000,12.000000,52.000000,1.000000,...,58800.300000,15360.000000,103491.852668,3434.750000,3465.650000,1803.100000,3.000000,9.000000,299800.000000,99999825.0